<div class = "footer">
    <span class = "websiteCreator">
        <p>&copy; Created by Shorya Goyal</p>
    </span>
    <span class = "quickLinks">
        <div>Quick Links</div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/post/newPost">Create Post</a></li>
            <li><a href="/post/allPosts">Recent posts</a></li>
        </ul>
    </span>
    <span class = "socialLinks">
        <div class = "mb-1">Follow us on</div>
        <span> <a href="https://www.facebook.com/"> <i class="bi bi-facebook"></i></a> | </span>
        <span> <a href="https://www.youtube.com/"> <i class="bi bi-youtube"></i></a> | </span>
        <span> <a href="https://in.linkedin.com/"> <i class="bi bi-linkedin"></i></a> | </span>
        <span> <a href="#"> <i class="bi bi-twitter"></i></a> | </span>
        <span> <a href="#"> <i class="bi bi-instagram"></i></a></span>
    </span>
</div>