<%- include('partials/mainHtmlPart1'); %>
<!-- include your title and css files -->
<title>New user</title>
</head>
<body>
    <%-include('partials/navbar'); %>
    <div class = "pageHeading mb-5">
        <h1>Discuss Portal</h1>
        <p>One stop portal for your doubts</p>
    </div>
    <div class = "homeContainers mb-5">
        <span class = "homeSpan">
            <h3>Ask your doubts</h3>
            <p>Having a doubt ? and don't know where to get the answer of your query here we are to help you to solve your query. Just create an account and you can ask unlimited number of questions and get them answered by our community members.</p>
        </span>
        <span class = "homeImageSpan">
            <img src="../images/doubt.jpg" alt="Ask doubt image">
        </span>
    </div>
    <div class = "homeContainers mb-5">
        <span class = "homeImageSpan">
            <img src = "../images/help.jpg" alt="">
        </span>
        <span class = "homeSpan">
            <h3>Help others</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aperiam eos laborum mollitia quasi in dolorum officiis, pariatur impedit. Perspiciatis iusto in eligendi itaque cum modi reiciendis voluptates debitis, nihil libero nobis porro cumque ipsum quae, molestiae, id nesciunt exercitationem? Quaerat deleniti eius corporis iusto quia optio omnis, quibusdam rerum.</p>
        </span>
    </div>
    <div class = "homeContainers mb-5">
        <span class = "homeSpan">
            <h3>Upvotes</h3>
            <p>Give upvotes to the post that you linked to increase its reach Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates soluta ipsa vel voluptatum voluptatibus vitae sint ipsam repudiandae ratione corporis?</p>
        </span>
        <span class = "homeImageSpan">
            <img src="../images/upvote.jpg" alt="Upvote image">
        </span>
    </div>
   <%- include('partials/footer'); %>
   <%- include('partials/jsFiles'); %>
</body>